* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

/* HOME */

@media (max-width: 450px) {
  .banner-img {
    display: none;
  }

  .custom-button {
    width: auto;
    font-size: 0.9rem;
  }
}

.car-brand-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  .car-brand {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    img {
      width: 4rem;
    }
  }
}

.custom-button {
  bottom: 20px;
  left: 50%; 
  transform: translateX(-50%);
}

/* HEADER */

header {
  background: linear-gradient(90deg, #004e92, #000428);

  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;utf8,<svg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'><path stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/></svg>");
  }
}

/* CARS */

.custom-align {
  max-width: 950px;
  margin: 0 auto;
}

.cars-wrapper {
  padding: 20px;
  max-width: 1000px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.car_card a {
  text-decoration: none;
  color: black;
}

.car_card {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
  text-align: center;

  &:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }

  .car_img {
    max-width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
  }

  .car_stats {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .car_brand {
    font-size: 1.5em;
    margin: 0;
  }

  .car_model {
    font-size: 1.2em;
    margin: 5px 0;
  }

  .car_type {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 15px;
    padding: 5px 10px;
    font-size: 0.9em;
    margin: 10px 0;
    cursor: pointer;
    transition: background-color 0.2s;

    &:hover {
      background-color: #e0e0e0;
    }
  }

  .car_price {
    font-size: 1em;
  }
}

/* CAR DETAILS */

.car-detail-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background: #f9f9f9;
}

.back-to-all {
  text-decoration: none;
  color: black;
  align-self: flex-start;
  margin-left: 20px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.car-detail-container {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  width: 100%;
}

.car-detail {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  max-width: 800px;
  width: 100%;
  margin: 0;

  .car-image {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;

    img {
      width: 100%;
      height: auto;
    }
  }

  .car-info {
    padding: 20px;

    h1 {
      margin: 0 0 10px;
      font-size: 1.25em;
    }

    ul {
      list-style-type: none;
      padding: 0;

      li {
        margin-bottom: 10px;
        font-size: 1em;

        strong {
          margin-right: 5px;
        }
      }
    }
  }
}

.car-detail-nav {
  display: flex;
  justify-content: space-around;
  border-top: 1px solid #ddd;
  padding: 20px;

  a {
    text-decoration: none;
    color: black;
    font-size: 1em;
  }
}

@media (min-width: 768px) {
  .car-detail {
    flex-direction: row;
  }

  .car-image {
    flex: 1;
  }

  .car-info {
    flex: 1;
    padding: 40px;
  }

  .car-info h1 {
    font-size: 1.75em;
  }

  .car-info ul li {
    font-size: 1.125em;
  }

  .car-detail-nav a {
    font-size: 1.125em;
  }
}
